<div class="container-fluid">
    <div class="row mx-auto">
        <div class="col-md-4 mx-auto">
            <div id="qr-wrapper">
                <img src="/qr.svg" alt="Código qr" whidt="400px" heigth="400px" class="qr">
            </div>
        </div>
    </div>
</div>