<div class="container botones p-4 mt-4">
    <div class="row p-4 message">
        <div class="alert alert-primary" role="alert">
            {{#if cronStatus}}
            <p>Cron esta activo</p>
            {{else}}
            <p>Cron esta inactivo</p>
            {{/if}}
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-md-4 p-3">
            <a href="/messages" class="btn btn-primary btn-block">Cola de mensajes</a>
        </div>
        <div class="col-md-4 p-3">
            <a href="/sessions" class="btn btn-primary btn-block">Sesiones</a>
        </div>
        <div class="col-md-4 p-3">
            <a href="/sessions/add" class="btn btn-primary btn-block">Agregar Nueva session</a>            
        </div>        
        <div class="col-md-4 p-3">
            {{#if cronStatus}}
                <a href="/cron/stop" class="btn btn-primary btn-block">Parar Cron</a>
            {{else}}
                <a href="/cron/start" class="btn btn-primary btn-block">Iniciar Cron</a>
            {{/if}}
        </div>   
    </div>
</div>